{{define "footer"}}
    <footer>
        <div class="row">
            <div class="col">Contacts
                <a href="#">+251945964841</a>
                <a href="#">+251945964841</a>
                <a href="#">+251945964841</a>
                <a href="#">+251945964841</a>
            </div>
            <div class="col">About Us
                <a href="#">Software Developer </a>
                <a href="#">Software Developer </a>
                <a href="#">Software Developer </a>
                <a href="#">Software Developer </a>
            </div>
            <div class="col">License
                <a href="#">MIT Commons License</a>
                <a href="#">MIT Commons License</a>
                <a href="#">MIT Commons License</a>
                <a href="#">MIT Commons License</a>
            </div>
        </div>
    </footer>
{{end}}
